@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 215 33% 16%;

    --card: 210 17% 98%;
    --card-foreground: 215 33% 16%;

    --popover: 210 17% 98%;
    --popover-foreground: 215 33% 16%;

    --primary: 215 48% 11%;
    --primary-foreground: 210 17% 98%;

    --secondary: 212 26% 36%;
    --secondary-foreground: 210 17% 98%;

    --muted: 210 16% 90%;
    --muted-foreground: 212 26% 36%;

    --accent: 173 100% 40%;
    --accent-foreground: 215 48% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 14% 83%;
    --input: 210 14% 83%;
    --ring: 173 100% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 215 48% 11%;
    --foreground: 210 17% 98%;

    --card: 215 48% 11%;
    --card-foreground: 210 17% 98%;

    --popover: 215 48% 11%;
    --popover-foreground: 210 17% 98%;

    --primary: 173 100% 48%;
    --primary-foreground: 215 48% 11%;

    --secondary: 215 33% 16%;
    --secondary-foreground: 210 17% 98%;

    --muted: 212 26% 36%;
    --muted-foreground: 210 17% 98%;

    --accent: 173 100% 48%;
    --accent-foreground: 215 48% 11%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 212 26% 36%;
    --input: 212 26% 36%;
    --ring: 173 100% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
    background: linear-gradient(45deg, #e0c3fc, #8ec5fc, #e0c3fc, #f0dbf5);
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}